@charset "UTF-8";
@import url(bootstrap.min.css);
@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700|Work+Sans:400,500,600,700|Dancing+Script:400,700");
body {
    font-family: "Work Sans", sans-serif;
}


/* pages_banner_area */

.pages_banner_area {
    background: url(../images/pages-banner.png) no-repeat bottom right;
    display: block;
    overflow: hidden;
    padding-top: 350px;
    box-shadow: 0px 20px 35px 0px rgba(222, 222, 222, 0.35);
    position: relative;
}

.pages_banner_area h2 {
    font: 600 56px/68px "Work Sans", sans-serif;
    color: #282828;
}

.pages_banner_area .layer_1 {
    left: 0;
    top: auto !important;
    bottom: 115px !important;
    position: absolute !important;
    z-index: -1;
}