@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
    overflow-x: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

.sidebar ul.components {
    border-bottom: 1px solid #47748b;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.main-menu>li:first-child {
    border-top: 1px solid rgba(181, 195, 255, 0.27);
}

.main-menu>li {
    border-bottom: 1px solid rgba(181, 195, 255, 0.27);
}

.sub-menu {
    background-color: #3a3d48;
}

.sub-menu>li a {
    color: #b2b6bb;
}

.drop-icon::after {
    content: "";
    font-family: FontAwesome;
    font-size: 12px;
    margin-left: 5px;
}

.main-menu li>a.drop-icon.collapsed::after {
    position: absolute;
    right: 15px;
    transition: 0.3s all;
    transform: rotate(-90deg);
}

.main-menu li>a.drop-icon::after {
    position: absolute;
    right: 15px;
    transform: rotate(0deg);
    transition: 0.3s all;
}

.main-menu li>a {
    padding: 10px 10px;
}

.sub-menu li>a {
    padding: 6px 10px;
}